/* CONTAINERS */
.root-pane{
    -fx-pref-width: 850;
    -fx-spacing: 0;
    -fx-padding: 0;
    -fx-alignment: top-center;
}
.flow{
    -fx-background-color: #F9F9F9;
    -fx-padding: 20 60 0 60;
    -fx-spacing: 15;
}
.title-bar {
    -fx-padding: 15;
    -fx-alignment: center-left;
}
.search-box {
    -fx-spacing: 15;
    -fx-alignment: center-left;
}
.filters-box {
    -fx-spacing: 20;
    -fx-alignment: center-left;
}
    .filter-selector {
        -fx-spacing: 5;
        -fx-alignment: center-left;
    }

.lb-filter-name {
    -fx-font-family: "SF Pro Text";
    -fx-font-size: 13;
}



/* COMPONENTS */
.title-logo-horizontal{
    -fx-pref-height: 25;
    -fx-pref-width: 123;
    -fx-padding: 0 0 0 20;
}
.host-logo{
    -fx-pref-width: 30;
}
.icon{
    -fx-pref-width: 20;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
}
    .icon:hover{
        -fx-effect: dropshadow(three-pass-box, rgba(0, 110, 254, 0.5), 10, 0, 0, 0);
    }

.image-button{
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}
.label {
    -fx-text-fill: black;
}

/* POST FLOW */
.list-post-flow {
    -fx-pref-height: 310;
    -fx-border-color: gainsboro;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}


/* POST */
.vbox-post{
    -fx-background-color: white;
    -fx-border-radius: 9;
    -fx-background-radius: 9;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}
    /* POST - Title */
    .hbox-post-title{
        -fx-alignment: center-left;
        -fx-padding: 5 3 10 3;
    }
        /* POST - Title - Username */
        .hbox-post-user-name{
            -fx-spacing: 8;
            -fx-alignment: center-left;
        }
            .stk-post-user-photo{
                -fx-pref-height: 25;
                -fx-pref-width: 30;
                -fx-background-image: url("../images/default_user_photo.bmp");
                -fx-background-size: cover;
                -fx-background-radius: 100;
                -fx-border-radius: 100;
            }
            .lb-post-user-name{
                -fx-font-family: "SF Pro Text Bold";
                -fx-font-size: 14;
            }
            .lb-post-user-role{
                -fx-font-family: "SF Pro Text";
                -fx-font-size: 9;
            }

        /* POST - Title - Info */
        .hbox-post-info{
            -fx-spacing: 15;
            -fx-alignment: center-left;
        }
            .lb-post-tags{
                -fx-font-family: "SF Pro Display";
                -fx-font-style: italic;
                -fx-text-fill: #666666;
            }
            .separator-v{
                -fx-orientation: vertical;
            }
            .hbox-post-last-update{
                -fx-spacing: 3;
                -fx-alignment: center-left;
            }
                .lb-post-lb-last-update{
                    -fx-font-family: "SF Pro Display Regular";
                    -fx-font-size: 12;
                }
                .lb-post-val-last-update{
                    -fx-font-family: "SF Pro Display Bold";
                    -fx-font-size: 12;
                }

    /* POST - File */
    .lb-post-message {
        -fx-font-family: "SF Pro Text Regular";
        -fx-font-size: 15;
        -fx-padding: 5 5 10 5;
        -fx-wrap-text: true;
        -fx-word-wrap: break-word;
    }


            .vbox-post-file-name {
                -fx-alignment: center-left;
            }
                .lb-post-file-name{
                    -fx-font-family: "SF Pro Display Bold";
                    -fx-font-size: 18;
                    -fx-text-fill: white;
                    -fx-alignment: center;
                    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
                }
                .lb-post-file-info{
                    -fx-font-family: "SF Pro Display";
                    -fx-font-size: 12;
                    -fx-alignment: center;
                    -fx-text-fill: rgba(255, 255, 255, 0.75);
                }

        .btn-post-file-download{
            -fx-background-image: url("../images/icon_download.png");
        }

.hbox-notifications {
    -fx-padding: 10 20 10 20;
    -fx-background-color: white;
    -fx-spacing: 5;
    -fx-alignment: center-left;
}
.lb-notification{
    -fx-font-size: 13;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}